<a href="https://colab.research.google.com/github/DirkTayab/OOP-1-1/blob/main/OOP_Concepts_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Class with Multiple Objects

In [6]:
class Birds:
  def __init__(self, birds_name):
    self.birds_name = birds_name
  def flying_birds(self):
    print(f"{self.birds_name} flies above the sky")
  def non_flying_birds(self):
    print(f"{self.birds_name} is the national bird of Australia")

vulture = Birds("Griffon Vulture")
crane = Birds("Common Crane")
emu = Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Griffon Vulture flies above the sky
Common Crane flies above the sky
Emu is the national bird of Australia

Encapsulation

In [13]:
class foo:
  def __init__(self, a, b):
    self.__a = a #mangling w/ "__"
    self.__b = b
  def add(self):
    return self.__a + self.__b
  
object_foo = foo(3, 4)
object_foo.add()

object_foo.__a = 6
object_foo.__b = 20
object_foo.add()

7

In [14]:
class Counter:
    def __init__(self):
        self.current = 0

    def increment(self):
        self.current += 1

    def value(self):
        return self.current

    def reset(self):
        self.current = 0

counter = Counter()

counter.increment()
counter.increment()
counter.increment()

print(counter.value())

3

In [25]:
class Counter:
  def __init__(self):
    self.__current = 0
  def increment(self):
    self.__current += 1
  def value(self):
    return self.__current
  def reset(self):
    self.__current = 0

number = Counter()
number.__current = 1

number.increment()
number.increment()
number.increment()

print(number.value())

3

Inheritance

In [34]:
class Person:
  def __init__(self, fname, sname):
    self.fname = fname
    self.sname = sname

  def fullname(self):
    print(self.fname, self.sname)
  
person = Person("Dirk", "Tayab")
person.fullname()

class Teacher(Person):
  pass

person2 = Teacher("Maam","Maria")
person2.fullname()

class Student(Person):
  pass

person3 = Student("DIRK", "TAYAB")
person3.fullname()

Dirk Tayab
Maam Maria
DIRK TAYAB

Polymorphism

In [39]:
class RegularPolygon:
  def __init__(self, side):
    self.side = side

class Square(RegularPolygon):
  def area(self):
    return self.side * self.side

class EquilateralTriangle(RegularPolygon):
  def area(self):
    return self.side * self.side * 0.433

obj1 = Square(4)
print(obj1.area())

obj2 = EquilateralTriangle(3)
print(obj2.area())

16
3.897

Application 1

#1. Create a Python program that displays the name of three students (Student 1, Student 2, and Student 3) and their term grades.

#2.Create a class name Person and attributes - std1, std2, std3, pre, mid, fin.

#3. Compute the average of each term grade using Grade() method

#4. Information about student's grades must be hidden from others